.introduce-wrap {
    margin: 10%;
    /*display: flex;*/
    /*justify-content: center;*/
    /*flex-direction: column;*/
    text-align: center;
    height: 700px;
}

.introduce-title{
    font-size: 35px;
    font-weight: bold;
    padding-bottom: 150px;
}

.introduce-title span{
    color: red;
}

.introduce{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 90%;
}

.introduce-contents{
    display: block;
}

.image{
    max-width: 100%;
    height: auto;
}